.leftSidebar
    width: 100%
    margin-top: -100px
    margin-bottom: -100px
    background-image: url('../../images/backLeft2.jpg')
    background-position: center
    // background-position: -450px 0px
    // perspective: 100px
.wrappSlider
    perspective: 100px
    dispay: grid
    align-content: center

.image
    width: 100%
    height: 100%
    // position: relative
    // left: 10px
    transform: rotateY(15deg)

