.attributes
    height: 1%
    display: grid
    grid-template-columns: auto auto auto
    justify-content: center
    overflow: visible
.miniTable
    width: 130px
    position: relative
    left: 20px
    top: -90px
.wrappTV
    display: grid
    justify-content: center
    height: 0
    overflow: visible
    position: relative
    top: -170px
.tv
    // border: 1px solid red
    display: grid
    align-content: center
    justify-content: center
    width: 300px
    height: 150px
    background-image: url('../../../images/tv.png')
    background-size: cover
    border-bottom: 4px solid #565553
    border-radius: 2px
    // background-position: center
    // position: absolute
    // top: -100px
.tvImg
    position: relative
    left: 1px
    // top: 3px
    width: 290px
    height: 140px
.sofa
    display: grid
    justify-content: center
    // width: 300px
.sofaImg
    max-width: 400px
    position: relative
    top: -40px
.cupboard
    width: 100px
.cupboard img
    position: relative
    top: -260px
    left: 130px
.tableSection
    display: grid
    grid-template-columns: auto auto
.wrappTvRemote
    width: 0
    height: 0
    position: relative
.tvRemote
    position: absolute
    left: -100px
    top: -104px
    transform: scale(.5,.5)
    cursor: pointer