.attributes
    margin: 0 auto
    height: 0px
    display: grid
    grid-template-columns: auto auto auto
    justify-content: center
    overflow: visible
    position: relative
    top: 15px

.sofa
    display: grid
    justify-content: center
    // width: 300px




