.main
    height: 100%
    margin: initial
    padding: initial

    & p
        text-align: center
    
    
.contactsText div
        // transition: all 2s
        width: 60px

.wrappText
    position: absolute
    top: 15px
    left: 65px









