.button1
    
    position: relative
    opacity: .4
    height: 50px
    margin: 10px 0
    width: 100px
    transform: rotateY(-25deg)
    font-size: 1.3em
    // text-indent: 10px
    & *
        position: relative
        top: 2px

.button2
    
    position: relative
    opacity: .4
    height: 50px
    margin: 10px 0
    width: 100px
    transform: rotateY(-25deg)
    font-size: 1.3em
    // text-indent: 10px
    color: red
    & *
        position: relative
        top: 2px