.center
    width: 100%
    height: 400px

    background-size: cover
    background-position: center
    box-shadow: 3px 3px 10px 2px black inset, -3px -3px 10px 2px black inset
    z-index: 1
    color: white
    margin: initial
    padding: initial
    position: relative


.center2
    color: black
    width: 100%
    height: 400px

    background-size: content
    background-position: center
    box-shadow: 3px 3px 10px 2px black inset, -3px -3px 10px 2px black inset
    z-index: 1
    padding: initial
    margin: initial
    position: relative


.columnLeft
    height: 600px
    width: 65px
    // border: 1px solid gray
    // background-color: black
    opacity: 1
    position: absolute
    top: -100px
    left: -70px
    background-image: url('/images/columnLeft.webp')
    background-size: cover
    background-repeat: no-repeat


.jsDiv
    height: 0
    width: 0
    position: relative

.js
    position: relative
    margin: 0 auto
    width: 160px
    height: 160px
    top: 170px
    left: 10px
    overflow: visible
    transition: transform .5s, left .5s
@media screen and (max-width: 950px)
    .js
        transform: scale(.8,.8)
        left: 0
@media screen and (max-width: 850px)
    .js
        // transform: scale(.8,.8)
        left: -7px
@media screen and (max-width: 800px)
    .js
        // transform: scale(.8,.8)
        left: -15px


.jetrealDiv
    height: 0
    width: 0
    position: absolute
    right: 170px

  

.jetrealLogo
    position: relative
    margin: 0 auto
    width: 160px
    height: 160px
    top: 170px
    right: 10px
    overflow: visible
    transition: transform .5s, right .5s, top .5s, width .5s, height .5s



@media screen and (max-width: 950px)
    .jetrealLogo
        width: 145px
        height: 145px
        right: -10px
        top: 180px

@media screen and (max-width: 850px)
    .jetrealLogo
        // transform: scale(1.2,1.2)
        right: -27px
@media screen and (max-width: 800px)

    .jetrealLogo
        right: -22px
        transform: scalex(.9)

        right: -36px